<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="孟烦了">
    <meta name="description" itemprop="description" content=" - 孟烦了的个人博客，是一个分享工作经验和生活,值得大家收藏的原创博客网站。">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.png">
    <title>孟烦了的独立博客</title>
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/lib/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/polar-logo.png" height="100%"
                                                  alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/blog">博文</a></li>
                <li><a href="/blog/moods">心情随笔</a></li>
                <li><a href="#">留言板</a></li>
                <li><a href="#contact">小伙伴</a></li>
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"-->
                <!--role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- cover -->
<div class="cover-info" style="background-image: url('/img/test/1.jpeg');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="align-center cover-info-title">世间本无其他，都是奇迹</h1>
            </div>
        </div>
    </div>
</div>
<!-- tags -->
<div class="container tags-box">
    <% if(index == '-1'){ %>
    <a href="/blog" class="tag tag-active">全部标签</a>
    <% }else{ %>
    <a href="/blog" class="tag">全部标签</a>
    <% } %>

    <% for(let [i, v] of labelList.entries()){ %>
    <% if(index == v.id){ %>
    <a href="/blog/label/<%= v.id %>" class="tag tag-active"><%= v.label %></a>
    <% }else{ %>
    <a href="/blog/label/<%= v.id %>" class="tag"><%= v.label %></a>
    <% } %>
    <% } %>
</div>
<!-- content list  -->
<div class="container content-box">
    <div class="row">
        <% for(let [i, v] of blogList.entries()){ %>
        <div class="col-sm-6 col-md-4 col-lg-3  col-xs-12">
            <div class="thumbnail content-box-list">
                <a href="/blog/details/<%= v.id %>" class="post-box">
                    <div class="post-box-image" style="background-image: url('<%= v.imgUrl %>')"></div>
                </a>
                <a href="/blog/label/<%= v.labelId %>" class="category"><%= v.label %></a>
                <div class="caption-wrap">
                    <div class="caption-box">
                        <div class="caption-title"><a href="/blog/details/<%= v.id %>"><%= v.title %></a></div>
                        <div class="caption-info">
                            <%= v.synopsis %>
                        </div>
                    </div>
                    <div class="caption-footer clearfix">
                        <span><i class="iconfont icon-shijian"></i> <%= v.createTime %></span>
                        <span class=""><i class="iconfont icon-ai44"></i>(<%= v.accessNumber %>)</span>
                        <span class=""><i class="iconfont icon-yonghupinglun"></i>(<%= v.commentNumber %>)</span>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
<div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<% include ./footer.ejs %>
<!-- go to top -->
<i id="thumbtack" class="iconfont icon-huojian"></i>

<script src="/lib/jq/jquery.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/lib/bootstrap/ie10-viewport-bug-workaround.js"></script>
<script src="/js/goToTop.js"></script>
<script src="/js/blog.js"></script>
</body>
</html>